<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head>
    <meta charset="UTF-8">
    <title>Booking service</title>
</head>
<body>
    <h2> Đăng ký sử dụng dịch vụ</h2>

    <form th:action="@{/booking-service}" th:object="${servicequeue}" th:method="POST" >
        <div>
            <label>Loại dịch vụ</label>
            <br>
            <input type="radio" id="villa" name="loaiDichVu" value="Villa">
            <label for="villa">Villa</label><br>
            <input type="radio" id="house" name="loaiDichVu" value="House">
            <label for="House">House</label><br>
            <input type="radio" id="Room" name="loaiDichVu" value="Room">
            <label for="Room">Room</label>
        </div>

        <br>

        <table class="table" border="2">
            <tr>
                <th class="text-secondary">ID</th>
                <th class="text-secondary">Tên dịch vụ</th>
                <th class="text-secondary">Diện tích</th>
                <th class="text-secondary">Số tầng</th>
                <th class="text-secondary">Chi Phí Thuê</th>
                <th class="text-secondary">Trạng thái</th>
                <th class="text-secondary">Kiểu thuê</th>
                <th class="text-secondary">Is Delete</th>
                <th class="text-secondary">Choice</th>

            </tr>
            <th:block th:each="service: ${listService}">
                <tr>
                    <td th:text="${service.idDichVu}"></td>
                    <td th:text="${service.tenDichVu}"></td>
                    <td th:text="${service.dienTich}"></td>
                    <td th:text="${service.soTang}"></td>
                    <td th:text="${service.chiPhiThue}"></td>
                    <td th:text="${service.trangThai}"></td>
                    <td th:text="${service.kieuThue}"></td>
                    <td th:text="${service.isDelete}"></td>
                    <td > <input type="checkbox"></td>

                </tr>
            </th:block>

        </table>


        <div>
            <label for="timeApprove"> Ngày đặt dự kiến </label>
            <input id="timeApprove" type="date" th:field="*{timeApprove}">
        </div>

        <div>
            <label for="intendTime"> Ngày kết thúc dự kiến </label>
            <input id="intendTime" type="date" th:field="*{intendTime}">
        </div>

        <div>
            <input type="submit" value="submit">
        </div>

    </form>

</body>
</html>